* {
    margin: 0; padding: 0; box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Lato', 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #132861, #1e2d55);
    width: 100%;
}

header nav, .hero, .what-u-learn, .want-to-go-further, .sign-newsletter, footer {
    width: 100%;
}

.hidden {
    display: none;
}

header nav, footer {
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    color: #ffffff;
}

.brand-logo {
    font-size: 32px;
    color: #ffffff;
    font-weight: 600;
}

.hero, .discuss, .interested, .sign-newsletter {    
    padding: 3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discuss {
    background: #ffffff;
    flex-wrap: wrap;
}

.discuss section {
    width: calc(50% - 32px);
    margin-bottom: 3rem;
    line-height: 1.5;
    text-align: center;
}

.discuss section h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
    color: #08163f;
}

.discuss section p {
    font-size: 18px;
    word-spacing: .6mm;
}

.sign-newsletter {
    background: #ffffff;
}


.book-description {
    width: 50%;
    max-width: 40pc;
    color: #ffffff;
    display: inline-block;
}

.book-mockup {
    max-width: 40%;
    text-align: left;
    height: 30pc;
    box-shadow: 1px 1px 16px 0 #cccccc80;
    border-radius: 8px;
    overflow: hidden;
}

.book-mockup img {
    height: 100%;
}

.book-description h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0;
    margin-top: 0;
    line-height: 1.3;
    word-spacing: 1.4mm;
}

.book-description h2 {
    line-height: 1.4;
    font-size: 24px;
    letter-spacing: 0.2mm;
    word-spacing: 1.4mm;
}

.buy-link {
    margin: 20px 0;
    padding: 15px 40px;
    background: #8ba5ee;
    display: block;
    width: max-content;
    color: #08163f;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    transition: background .3s;
}

.buy-link:hover {
    background: #6080d8;
}

.buy-link:after {
    content: '->';
    margin-left: 15px;
}

.interested > * {
    display: inline-block;
    margin: 0;
}

.interested h2 {
    color: #ffffff;
}

.preview-question {
    width: 50%;
    max-width: 40pc;
    display: inline-block;
    line-height: 1.6;
    color: #08163f;
}

.sign-form input {
    width: 100%;
    height: 4pc;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #3d528b;
    box-shadow: 0 0 0 4px #1328617a;
    transition: box-shadow .3s;
}

.sign-form input[type="text"]:focus {
    box-shadow: 0 0 6px 3px #1328617a;
}

.sign-form input[type="submit"] {
    background: #132861;
    color: #ffffff;
    border: none;
    box-shadow: none;
}

.naira {
    text-decoration-style: double;
    text-decoration-line: line-through;
}




/* ******** Medium sized devices ********** */

@media screen and (max-width: 850px) {

    
    .discuss section, .hero > *, .interested > *, .sign-newsletter > * {
        width: 100%;
    }

    .discuss, .hero, .interested, .sign-newsletter, footer {
        flex-wrap: wrap;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero .book-mockup {
        width: max-content;
        height: 20pc;
        max-width: unset;
        margin-bottom: 20px;
    }

    .hero .book-mockup img {
        height: 100%;
    }

    .buy-link {
        margin: 32px 0 0 0;
        width: max-content;
    }

    footer {
        height: 100px;
        align-items: center;
        justify-content: center;
    }
}





